@model IEnumerable<ElectroMVC.Models.ShoppingCartItem>

@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/assets/styles/bootstrap4/bootstrap.min.css">
<link href="~/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Main Content -->

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Ảnh sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                        @if (Model != null && Model.Any())
                            {
                                var i = 0;
                                var tongtien = Decimal.Zero;
                                foreach (var item in Model)
                                {
                                    tongtien += item.TotalPrice;
                                    string[] imageUrls = item.ProductImg?.Split(';');
                                <tr class="text-center" id="trow_@item.ProductId">
                                    <td>@(i+1)</td>
                                    <td><img src="@imageUrls[0]" style="height:100px" /></td>
                                    <td>
                                        <a href="/chi-tiet/@item.ProductId">@item.ProductName</a>
                                    </td>
                                    <td>@item.CategoryName</td>
                                    <td>@item.Price</td>
                                    <td>@item.Quantity</td>
                                    <th>@item.TotalPrice</th>
                                    <td> <a href="#" data-id="@item.ProductId" class="btn btn-sm btn-danger btnDelete">Xóa</a></td>
                                </tr>
                                i++;
                            }
                            <tr>
                                <th class="text-right" colspan="6">Tổng: </th>
                                <th class="text-center">@tongtien</th>
                                <th></th>
                            </tr>

                        }
                        else
                        {
                            <tr>
                                <td colspan="7">Không có sản phẩm trong giỏ hàng</td>
                            </tr>
                        }

                    </table>


                </div>
            </div>

        </div>
    </div>
</div>



<!-- Newsletter -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Newsletter</h4>
                    <p>Subscribe to our newsletter and get 20% off your first purchase</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                    <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
                    <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/assets/styles/bootstrap4/popper.js"></script>
<script src="~/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/assets/plugins/easing/easing.js"></script>
<script src="~/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/assets/js/categories_custom.js"></script>
